@import url("reset.css");

:root {
  --titlefont: span-condensed, serif;
  --bodyfont: "articulat-cf", sans-serif;

  --s1: 18px;
  --s2: 25px;
  --s3: 40px;
  --s4: 50px;
  --s5: 70px;

  --bordersize: .5px;

  --mainbgcolor: #F5EFE7;
  --maincolor: #1E1E1E;
  --seccolorblue: #50A0DF;
  --seccoloryel: #FFAC00;
  --bordercolor: #B0B0B0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
.loading__screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--seccolorblue);
  transition: opacity 0.75s, visibility 0.75s;
  z-index: 1;
}

.load__icon--hidden {
  opacity: 0;
  visibility: hidden;
}

.loading__screen::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid var(--seccoloryel);
  border-top-color: var(--mainbgcolor);
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }

  to {
    transform: rotate(1turn);
  }
}
nav {
  padding: .5rem 1rem;
  background-color: var(--mainbgcolor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

body {
  background-color: var(--mainbgcolor);
  color: var(--maincolor);
  font-family: var(--bodyfont);
  width: 100vw;
}

.nav__logo {
  width: 60px;
}



.header__wrapper {
  display: grid;
  grid-template-columns: 13% 61% 26%;
  grid-template-rows: repeat(2, 50%);
  overflow: hidden;
  width: 100vw;
}

.header__title {
  grid-column: 1 / 3;
  grid-row: 1;
  font-family: var(--titlefont);
  font-size: var(--s5);
  border-top: solid var(--bordersize) var(--bordercolor);
  border-right: solid var(--bordersize) var(--bordercolor);
  padding: 0rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header__title--one {
  margin-left: 1rem;
}

.header__title--two {
  margin-left: 3rem;
}

.textcircle__wrapper {
  grid-column: 1;
  grid-row: 1;
  width: 74vw;
  animation: rotation 11s infinite linear;
  transform-origin: 100% 100%;
  z-index: -1;
}

.textcircle {
  width: 6rem;
  position: relative;
  left: 100%;
  top: 100%;
  transform: translate(-50%, -50%);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.header__side--wrapper {
  grid-column: 3;
  grid-row: 1;
  border-top: solid var(--bordersize) var(--bordercolor);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__side {
  transform-origin: center;
  transform: rotate(-90deg);
  z-index: -1;
  cursor: vertical-text;
  font-weight: 400;
  color: var(--seccolorblue);
  letter-spacing: 0.19125rem;

}

.header__empty {
  grid-column: 1;
  grid-row: 2;
  border-top: solid var(--bordersize) var(--bordercolor);
}

.header__image {
  width: 300px;
  z-index: -1;
  position: relative;
  transform: translateX(-100%);
  left: 100%;
}

.header__image--wrapper {
  width: 87vw;
  grid-column: 2 / 3;
  padding: 2rem;
  padding-right: 0;
  grid-row: 2;
  border-top: solid var(--bordersize) var(--bordercolor);
  border-left: solid var(--bordersize) var(--bordercolor);
}

.header__subtext {
  text-align: center;
  border: solid var(--bordersize) var(--bordercolor);
  padding: 2rem 2rem;
  font-size: 18px;
  line-height: 129%;
}

.headerarrow {
  position: relative;
  transform: translate(-50%, -50%);
  left: 50%;
}


.nav__socialmedia {
  display: flex;
  justify-content: space-around;
  margin: 3rem 0;
}

.language__wrapper {
  width: 10rem;
  padding: 1rem 2rem;
  color: white;
  background-color: var(--maincolor);
  font-size: 20px;
  display: flex;
  border-radius: 6px;
}

.language__selector--wrapper {
  display: flex;
  justify-content: center;
}

.line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 8px;
  background-color: var(--seccolorblue);
  border-radius: 25px;
}

.nav__wrapper {
  position: absolute;
  padding: 1rem 1rem;
  padding-top: 2.5rem;
  top: 72.92px;
  left: 0%;
  width: 100%;
  background-color: var(--mainbgcolor);
  display: none;
  border: solid var(--bordersize) var(--bordercolor);
  border-bottom: solid 2px var(--bordercolor);
}

.nav__link {
  color: var(--maincolor);
  font-weight: 400;
  display: block;
  text-align: center;
  font-size: 18px;
  padding: 10px 0;
  text-decoration: none;
  margin-bottom: 1.2rem;
  text-transform: uppercase;
}

.nav__socialmedia--item {
  width: 3rem;
}

.expanded {
  display: flex;
  flex-direction: column;
}



.intro {
  font-family: var(--titlefont);
  text-align: center;
  font-size: var(--s2);
  font-style: normal;
  font-weight: 600;
  line-height: 132%;
  letter-spacing: 0.01563rem;
  padding: 0rem 2.5rem;
  margin: 1rem 0rem;
  margin-bottom: 4rem;
}

.introbg__before1 {
  background-image: url('./../assets/img/introbg1.svg');
  background-repeat: no-repeat;
  background-position: 0% 100%;
  padding-bottom: 0.2rem;
}

.introbg__before2 {
  padding-top: 3rem;
  background-image: url('./../assets/img/introbg2.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.introbg__before3 {
  background-image: url('./../assets/img/introbg3.svg');
  background-repeat: no-repeat;
  background-position: 0% 100%;
  padding-bottom: 0.2rem;
}

.introbg__before4 {
  background-image: url('./../assets/img/introbg4.svg');
  background-repeat: no-repeat;
  padding-right: .7rem;
  background-position: 100% 55%;
}

.introbg__before5 {
  background-image: url('./../assets/img/introbg5.svg');
  background-repeat: no-repeat;
  background-position: 100% 80%;
  padding-right: 0.5rem;
}
.railgame__rail{
  animation: clickable 1s ease-in-out infinite;
}
@keyframes clickable {
  0%, 100%{
    transform: scale(100%);
  }
  50% {
    transform: scale(110%);
  }
}

.chapterone__wrapper {
  display: grid;
  grid-template-columns: 39% 53% 8%;
  grid-template-rows: 45% 55%;
  overflow: hidden;
  margin-bottom: 4rem;
  width: 100vw;
}

.chapterone__title--wrapper {
  grid-column: 1 / 3;
  grid-row: 1;
  display: flex;
  justify-content: center;
  border: solid var(--bordersize) var(--bordercolor);
}

.chapterone__title--bg {
  background-image: url("./../assets/img/chapter1bg.svg");
  background-repeat: no-repeat;
  background-position: 0% 100%;
}

.chapterone__title {
  color: #1E1E1E;
  font-family: var(--titlefont);
  font-size: var(--s3);
  font-weight: 600;
  padding: 6rem 1rem;
  background-image: url("./../assets/img/chapter1.svg");
  background-repeat: no-repeat;
  background-position: 0% 0%;
}

.chapterone__empty {
  grid-column: 3;
  grid-row: 1;
  border: solid var(--bordersize) var(--bordercolor);
  border-left: none;
}

.chapterone__empty2 {
  grid-column: 1;
  grid-row: 2;
  width: 39vw;
  border-bottom: solid var(--bordersize) var(--bordercolor);
  border-right: solid var(--bordersize) var(--bordercolor);
}

.chapterone__image--wrapper {
  grid-column: 2 / 3;
  grid-row: 2;
  display: flex;
  align-items: center;
  width: 61vw;
  border-right: solid var(--bordersize) var(--bordercolor);
  border-bottom: solid var(--bordersize) var(--bordercolor);
}

.chapterone__image {
  position: relative;
  transform: translateX(-100%);
  left: 100%;
}

.chapter1__part1--wrapper {
  display: grid;
  grid-template-columns: 5% 90% 5%;
  grid-template-rows: 14% 72% 14%;
  overflow: hidden;
  padding-bottom: 1rem;
  width: 100vw;
}

.ch1__empty1 {
  grid-column: 1;
  grid-row: 1;
  border: solid var(--bordersize) var(--bordercolor);
  border-top: solid var(--bordersize) var(--bordercolor);
  width: 5vw;
  height: 14vh;
}

.ch1__image1--wrapper {
  grid-column: 2 / 4;
  grid-row: 1;
  width: 95vw;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid var(--bordersize) var(--bordercolor);
  border-left: none;
  height: 14vh;
}


.textstar__wrapper {
  grid-column: 1 / 4;
  grid-row: 2;
  width: 100vw;
}

.visually-hidden {
  visibility: hidden;
  height: 0;
  width: 0;
}

.textstar {
  transform: translate(-50%, -50%);
  position: relative;
  top: 86%;
  left: 75%;
  animation: rotation 11s infinite linear;
  width: 6rem;
}

.ch1__p1--year {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--seccoloryel);
  font-family: var(--bodyfont);
  font-size: var(--s4);
  font-weight: 800;
  letter-spacing: 0.21875rem;
  margin-left: 1rem;
}
.track__animation{
  visibility: hidden;
  height: 0;
  width: 0;
}
.animation__visible{
  visibility: visible;
  height: auto;
  width: 100vw;
}
.ch1__p1--wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: -3em;
  margin-bottom: -5rem;
  grid-column: 1 / 4;
  grid-row: 2;
  width: 100vw;
  height: 72vh;
}
.ch1__p1--text {
  padding: 0rem 1.2rem;
  color: var(--maincolor);
  font-family: var(--bodyfont);
  font-size: var(--s1);
  font-weight: 400;
  line-height: normal;
}

.ch1__image2--wrapper {
  grid-column: 1 / 2;
  grid-row: 3;
  width: 95vw;
  height: 14vh;
  border: solid var(--bordersize) var(--bordercolor);
}

.ch1__image2 {
  height: 100%;
}

.ch1__empty2 {
  grid-column: 3;
  grid-row: 3;
  width: 15vw;
  height: 14vh;
  border: solid var(--bordersize) var(--bordercolor);
  border-left: none;
}

.bold {
  font-weight: 700;
}

.ch1__p2--contentwrapper {
  padding: 0rem 1.2rem;
  width: 100vw;
  overflow-x: hidden;
}

.chapter1__part2--wrapper {
  margin-bottom: 4rem;
  width: 100vw;
  overflow-x: hidden;
}

.ch1__p2--year {
  color: var(--seccolorblue);
  font-family: var(--titlefont);
  font-size: var(--s3);
  font-weight: 600;
  letter-spacing: 0.175rem;
  margin: 2rem 0rem;
}

.ch1__p2--text {
  color: var(--maincolor);
  font-family: var(--bodyfont);
  font-size: var(--s1);
  font-weight: 400;
  line-height: normal;
}

.ch1__p3 {
  width: 100vw;
  z-index: 1;
}

.ch1__p3--wrapper {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 1fr;
  width: 100vw;
}

.ch1__p3--contentwrapper {
  border: solid var(--bordersize) var(--bordercolor);
  padding: 2rem 0rem;
}

.ch1__p3--empty {
  border: solid var(--bordersize) var(--bordercolor);
  border-right: none;
}

.ch1__p3--title {
  color: var(--maincolor);
  font-family: var(--titlefont);
  text-align: center;
  font-size: var(--s4);
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.175rem;
  background-image: url("./../assets/img/ch1p3bg.svg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
  background-size: 18rem auto;
}

.ch1__p3--subtitles {
  color: var(--maincolor);
  text-align: center;
  font-size: var(--s1);
  font-style: normal;
  font-weight: 600;
  line-height: 124%;
  padding: 0rem 4rem;
}

.ch1__p3--tunnelwrapper {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.ch1__p3--tunnel {
  margin: 2rem;
  margin-top: 5rem;
  opacity: 100%;
}

.extraheight {
  height: 10rem;
}

.tunnel__dark--wrapper {
  text-align: center;
  width: 100vw;
  /* margin-top: 8rem; */
  height: 100vh;
  visibility: hidden;
  margin-bottom: -40rem;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 1;
}

.tunnel__dark--text {
  color: var(--mainbgcolor);
  font-size: var(--s2);
  font-style: normal;
  font-weight: 600;
  line-height: 124%;
  padding: 0rem 3rem;
  margin-bottom: 3rem;
}

.disable-scrolling {
  height: 100%;
  overflow: hidden;
}

.tunnel__button {
  width: 6rem;
}

.ch1__p3--tunnel {
  transform-origin: 50% 40%;
  scale: 0;
  opacity: 0%;
}


.tunnel__hide {
  z-index: -1;
  opacity: 0;
}

.ch1__p4 {
  overflow-x: hidden;
  margin-bottom: 4rem;
  width: 100vw;
}

.ch1__p4--title {
  padding: 1rem;
  width: fit-content;
  font-family: var(--titlefont);
  font-size: var(--s3);
  background-image: url("./../assets/img/ch1p3bg.svg");
  background-repeat: no-repeat;
  background-position: 1.2rem 100%;
  background-size: 12rem auto;
}

.ch1__p4--text {
  color: var(--maincolor);
  font-size: var(--s1);
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  padding: 1rem;
  margin-bottom: 2rem;
}

.ch1__p4--textmonster {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--seccolorblue);
  font-size: var(--s2);
  vertical-align: middle;
  font-weight: 800;
  letter-spacing: 0.1375rem;
}

.ch1__p4--grid {
  display: grid;
  grid-template-columns: 8% 92%;
  grid-template-rows: 1fr;
}

.ch1__p4--empty {
  grid-column: 1;
  grid-row: 1;
  border: solid var(--bordersize) var(--bordercolor);
  border-right: none;
}

.ch1__p4--animationwrapper {
  grid-column: 2;
  grid-row: 1;
  width: 92vw;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: solid var(--bordersize) var(--bordercolor);
  padding: 2rem 0rem;
}

.ch1__p5 {
  padding: 1rem;
  margin: 3rem 0rem;
  margin-top: -10rem;
  overflow: hidden;
  width: 100vw;
}

.ch1__p5--text {
  color: var(--maincolor);
  font-size: var(--s1);
  font-style: normal;
  font-weight: 400;
  line-height: 124%;
}

.ch1__p5--title {
  color: var(--seccolorblue);
  font-family: var(--titlefont);
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 117%;
  letter-spacing: 0.175rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  background-image: url("./../assets/img/ch1p5bg.svg");
  background-repeat: no-repeat;
  background-position: 0% 100%;
}

.ch1__p5--titlespecial {
  color: var(--seccoloryel);
}


.ch1__p6 {
  overflow: hidden;
  width: 100vw;
}

.ch1__p6--deco1wrapper {
  border: solid var(--bordersize) var(--bordercolor);
  padding: 2rem 1rem;
  margin-bottom: 3rem;
}

.ch1__p6--deco1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ch1__p6--deco11 {
  width: 20rem;
  color: var(--seccolorblue);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.ch1__p6--deco12 {
  width: 20rem;
  text-align: right;
  color: var(--seccolorblue);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.ch1__p6--deco2wrapper {
  border: solid var(--bordersize) var(--bordercolor);
  padding: 2rem 1rem;
  margin: 3rem 0rem;
}

.ch1__p6--deco2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ch1__p6--deco21 {
  width: 13rem;
  color: var(--seccoloryel);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: right;
}

.ch1__p6--deco22 {
  width: 13rem;
  color: var(--seccoloryel);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}


.testwrapper {
  border: 1px solid red;
  display: flex;
  width: 200vw;

}



.ch1__p6--linewrapper {
  padding: 0rem 1rem;
  margin-left: -0.5rem;
  width: 400vw;
  height: 50vh;
}

.ch1__p6--title {
  color: var(--seccoloryel);
  font-family: var(--titlefont);
  font-size: var(--s2);
  font-style: normal;
  font-weight: 600;
  line-height: 90%;
  margin-bottom: 3rem;
  /* margin-left: 5rem; */
  display: flex;
  flex-direction: column;
  width: 100vw;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.ch1__p6--titlebottom {
  color: var(--seccolorblue);
  margin-top: .5rem;
}

.line__date {
  color: var(--maincolor);
  font-size: var(--s1);
  font-style: normal;
  font-weight: 400;
  line-height: 117%;
  letter-spacing: 0.05625rem;
  margin-bottom: 3rem;
}

.line__distance {
  color: var(--maincolor);
  font-size: var(--s2);
  font-style: normal;
  font-weight: 400;
  line-height: 117%;
  letter-spacing: 0.05625rem;
  text-align: center;
  margin-bottom: -2.5rem;
}

.line__image--wrapper {
  display: flex;
  justify-content: center;
}

.line__image {
  width: 97vw;
}

.line__location--wrapper {
  display: flex;
  justify-content: space-between;
}

.line__location {
  color: var(--maincolor);
  font-size: var(--s1);
  font-style: normal;
  font-weight: 400;
  line-height: 117%;
  letter-spacing: 0.05625rem;
  
}

.line__arrow--wrapper {
  display: flex;
  justify-content: flex-end;
}

.line__wrapper {
  margin-bottom: 2rem;
  width: 100vw;
}

.railwayline__wrapper--all {
  display: flex;
  gap: 3vw;
}

.ch1__p7 {
  width: 100vw;
}

.ch1__p7--wrapper {
  width: 100vw;
  padding: 1rem;
  margin-bottom: 2rem;
}

.ch1__p7--title1 {
  color: var(--seccoloryel);
  font-family: var(--titlefont);
  font-size: var(--s1);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.1125rem;
}

.ch1__p7--title2 {
  color: var(--seccoloryel);
  font-size: var(--s3);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.28125rem;
}

.ch1__p7--title3 {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #FEBD37;
  font-size: var(--s3);
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.225rem;
}

.ch1__p7--title {
  margin-bottom: 2rem;
}

.ch1__p7--text {
  color: var(--maincolor);
  font-size: var(--s1);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.ch1__p7--image {
  border: solid var(--bordersize) var(--bordercolor);
  width: 100vw;
}

.ch1__p7--text2 {
  padding: 2.5rem 1rem;
  border-bottom: solid var(--bordersize) var(--bordercolor);
}

.ch1__p8 {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: 70vh 30vh;
}

.change__grid {
  grid-template-columns: 100vw;
  grid-template-rows: 35vh 65vh;
}

.quiz__title {
  color: var(--maincolor);
  text-align: center;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: var(--maincolor);
  font-family: var(--titlefont);
  font-size: var(--s2);
  font-style: normal;
  font-weight: 600;
  line-height: 132%;
  letter-spacing: 0.01563rem;
  margin-bottom: 4rem;
  margin-top: 10vh;
}

.quiz__title--special1 {
  background-image: url("./../assets/img/quizbg1.svg");
  background-repeat: no-repeat;
  background-position: 0% 100%;
}

.quiz__title--special2 {
  background-image: url("./../assets/img/quizbg2.svg");
  background-repeat: no-repeat;
  background-position: 0% 100%;
}

.quiz__text {
  color: var(--maincolor);
  text-align: center;
  font-size: var(--s1);
  font-style: normal;
  font-weight: 500;
  line-height: 132%;
  letter-spacing: 0.01125rem;
  margin-bottom: 10vh;
}

.quiz__start--wrapper {
  padding: 1rem;
  grid-column: 1;
  grid-row: 1;
}

.quiz__button--wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiz__button--style {
  background-color: var(--seccolorblue);
  color: var(--mainbgcolor);
  padding: 1rem 2rem;
  width: 12rem;
  border-radius: 10px;
  border-style: none;
  text-align: center;
  font-family: var(--bodyfont);
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 132%;
}

.quiz__button--style2 {
  background-color: var(--seccoloryel);
  color: var(--mainbgcolor);
  padding: 1rem 2rem;
  border-radius: 10px;
  border-style: none;
  text-align: center;
  font-family: var(--bodyfont);
  font-size: 20px;
  width: 12rem;
  font-style: normal;
  font-weight: 600;
  line-height: 132%;
  margin-top: 2rem;
}

.quiz__animation--wrapper {
  grid-column: 1;
  grid-row: 1;
  z-index: -1;
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: 100vw;
  grid-template-rows: 100vh;
  place-items: center;
}


.quiz__animation3--wrapper{
  width: 100vw;
  height: 100vh;
    grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.quiz__animation2--wrapper{
  width: 100vw;
  grid-row: 1;
  grid-column: 1;
  display: flex;
  justify-content: flex-end;
}
.quiz__animation1--wrapper{
  width: 100vw;
    grid-row: 1;
    grid-column: 1;
    display: flex;
    justify-content: flex-start;
}
.quiz__animation1{
  width: 90vw;
  
}
.quiz__animation2{
  width: 90vw;  
}

.quiz__animation3{
  height: 60vh;
  margin-left: -50vw;

}

.speed__wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-size: var(--s3);
  font-weight: 600;

}

.speed__wrapper--end {
  border: solid var(--bordersize) var(--bordercolor);
  height: fit-content;
  width: 100vw;
}

.speed__wrapper--endgoodbg {
  background-image: url("./../assets/img/quizendgoodbg.svg");
  background-repeat: no-repeat;
  background-position: 50% 0%;
}

.speed__wrapper--endbadbg {
  background-image: url("./../assets/img/quizendbadbg.svg");
  background-repeat: no-repeat;
  background-position: 50% 3%;
}

.speed__wrapper--wrapper {
  z-index: -1;
  grid-row: 2;
  grid-column: 1;
  padding: 2rem 0rem;
  margin-top: 3rem;
}

.speed__style--end {
  color: var(--seccolorblue);
  text-align: center;
  font-family: "Articulat CF";
  font-size: 3.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 132%;
  letter-spacing: 0.0375rem;
  padding: 2.2rem 0rem
}


.ch1__p9 {
  padding: 0rem 1.2rem;
  margin-bottom: 4rem;
  border: solid var(--bordersize) var(--bordercolor);
  width: 100vw;
}

.ch1__p9--title {
  color: var(--maincolor);
  font-family: var(--titlefont);
  font-size: var(--s3);
  width: 18rem;
  font-weight: 600;
  letter-spacing: 0.175rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
  background-image: url("./../assets/img/ch1p9bg.svg");
  background-repeat: no-repeat;
  background-position: 0% 100%;
  padding-bottom: 1rem;
  background-size: 18rem auto;
}

.ch1__p9--text {
  color: var(--maincolor);
  font-family: var(--bodyfont);
  font-size: var(--s1);
  font-weight: 400;
  line-height: normal;
  margin-bottom: 3rem;
}

.textcircle2__wrapper {
  z-index: -1;
}

.textcircle2 {
  width: 6rem;
  position: relative;
  left: 70%;
  bottom: 2.6rem;
  animation: rotation 11s infinite linear;
}


.ch2 {
  width: 100vw;
  overflow: hidden;
}

.ch2__img {
  width: 100vw;
  margin-bottom: 2rem;
}

.ch2__header--wrapper {
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 1fr;
}

.ch2__empty {
  grid-column: 1;
  grid-row: 1;
  width: 10vw;
  border: solid var(--bordersize) var(--bordercolor);
  border-right: none;
}

.ch2__title--wrapper {
  grid-column: 2;
  grid-row: 1;
  width: 90vw;
  height: 35vh;
  display: flex;
  align-items: flex-end;
  padding: 2rem;
  padding-right: 0rem;
  border: solid var(--bordersize) var(--bordercolor);
}

.ch2__title {
  color: var(--maincolor);
  font-family: var(--titlefont);
  font-size: var(--s3);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-top: 8rem;
  background-image: url("./../assets/img/ch2bg.svg");
  background-repeat: no-repeat;
  background-position: 100% 40%;
  padding-right: 2rem;
}

.ch2__title--underline {
  padding-bottom: 0.5rem;
  background-image: url("./../assets/img/ch2bg2.svg");
  background-repeat: no-repeat;
  background-position: 0% 100%;
}

.ch2__img1 {
  opacity: 1;
}

.ch2__img2 {
  opacity: 1;
  margin-top: 2rem;
}

.ch2__p1--wrapper {
  color: var(--maincolor);
  font-size: var(--s1);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 4rem 1rem;
  padding-top: 8rem;
  background-image: url("./../assets/img/ch2p1bg.svg");
  background-repeat: no-repeat;
  /* background-position: ; */
  border: solid var(--bordersize) var(--bordercolor);
}

.logo__wrapper {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  grid-template-rows: 50% 50%;
  width: 100vw;
}

.logo__title--wrapper {
  grid-column: 1 / 4;
  grid-row: 1;
  border: solid var(--bordersize) var(--bordercolor);
  border-top: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem 0rem;
}

.logo__title {
  color: var(--seccolorblue);
  font-size: var(--s2);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.26563rem;
  text-transform: uppercase;
}

.logo__img {
  padding: 1.5rem;
  width: 6.5rem;
}

.logo__img--wrapper1 {
  grid-column: 1;
  grid-row: 2;
  border: solid var(--bordersize) var(--bordercolor);
  border-top: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__img--wrapper2 {
  grid-column: 2;
  grid-row: 2;
  border-bottom: solid var(--bordersize) var(--bordercolor);
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo__img--wrapper3 {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 3;
  grid-row: 2;
  border: solid var(--bordersize) var(--bordercolor);
  border-top: none;
}
.ch2__p2{
  width: 100vw;
  background-image: url("./../assets/img/ch2p2bg.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.ch2__p2--title {
  color: var(--maincolor);
  font-family: var(--titlefont);
  font-size: var(--s3);
  font-style: normal;
  font-weight: 600;
  line-height: 110%;
  letter-spacing: 0.075rem;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

.ch2__p2--text {
  color: var(--maincolor);
  font-size: var(--s1);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.ch2__p2--wrapper{
  padding: 3rem 1rem;
  border: solid var(--bordersize) var(--bordercolor);
}

.ch2__p3--wrapper{
  padding: 0rem 1rem;
  padding-left: 0;
  padding-top: 3rem;
}
.ch2__p3--wrapper2{
  padding: 0rem 1rem;
  padding-bottom: 4rem;
  border-bottom: solid var(--bordersize) var(--bordercolor);
}
.ch2__p3--wrapper3{
  padding-top: 3.5rem;
  padding-bottom: 1rem;
}
.ch2__p3--text{
  color: var(--maincolor);
  font-size: var(--s1);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.ch2__p3--img1{
  padding-left: 1rem;
}
.ch2__p3--text1{
  padding-left: 1rem;
}
.ch2__p3--img3{
  padding-left: 1rem;
}
.ch2__p3--text3{
  padding-left: 1rem;
}
.ch2__p3--imgbg1{
  width: 100vw;
}
.ch2__p3--imgbg1wrapper{
  width: 100vw;
  display: flex;
  justify-content: flex-end;
}
.ch2__p4{
  width: 100vw;
  height: 100vh;
  margin-bottom: 8rem;
}
.railgame__text--wrapper{
  padding: 0rem 1rem;
}
.railgame__title{
  color: var(--seccoloryel);
    text-align: center;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: var(--seccoloryel);
    font-family: var(--titlefont);
    font-size: var(--s3);
    font-style: normal;
    font-weight: 600;
    line-height: 132%;
    letter-spacing: 0.025rem;
    padding-bottom: .5rem;
    background-image: url("./../assets/img/railgametitlebg.svg");
    background-repeat: no-repeat;
    background-position: 50% 100%;
    margin-bottom: 1.5rem;
}
.railgame__subtext{
  color: var(--maincolor);
    text-align: center;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: var(--maincolor);
    font-family: var(--titlefont);
    font-size: var(--s2);
    font-style: normal;
    font-weight: 600;
    line-height: 132%;
    letter-spacing: 0.01563rem;
    margin-bottom: 1.5rem;
}
.railgame__text{
  color: var(--maincolor);
    text-align: center;
    font-size: var(--s1);
    font-style: normal;
    font-weight: 500;
    line-height: 132%;
    letter-spacing: 0.01125rem;
    margin-bottom: 4rem;
}
.railgame__rail--wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.railgame__track{
  width: 100vw;
  margin: 2rem 0rem;
  
}

.railgame__end--wrapper{
  display: flex;
  justify-content: center;
  opacity: 0;
  z-index: -1;
}

.ch3{
  display: grid;
  grid-template-columns: 40% 50% 10%;
  grid-template-rows: 45% 55%;
  margin-bottom: 6rem;
}
.ch3__title--wrapper{
  grid-column: 1 / 3;
  grid-row: 1;
  border: solid var(--bordersize) var(--bordercolor);
  background-repeat: no-repeat;
  background-position: 20% 0%;  
}
.ch3__title{
  color: var(--maincolor);
  text-align: center;
  font-family: var(--titlefont);
  font-size: var(--s3);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  padding-bottom: .5rem;
  background-image: url("./../assets/img/ch3bg.svg");
    background-repeat: no-repeat;
    background-position: 50% 80%;
    background-size: 12rem auto;
    padding-top: 5rem;
    padding-left: 1rem;
    z-index: -1;
}
.ch3__empty{
  grid-column: 3;
  grid-row: 1;
  border: solid var(--bordersize) var(--bordercolor);
  border-left: none;
}
.ch3__empty2{
  grid-column: 1;
  grid-row: 2;
  border-right: solid var(--bordersize) var(--bordercolor);
}
.ch3__img{
  grid-column: 1 / 4;
  grid-row: 2;
  width: 100vw;
  border-bottom: solid var(--bordersize) var(--bordercolor);
}
.ch3__p1--titlewrapper{
  width: 18rem;
  padding: 1.5rem;

  @media only screen and (min-width: 350px){
    width: 23rem;
  };
}
.ch3__p1--titlewrapperwrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
  width: 100vw;
}
.ch3__p1--title1{
color: var(--seccolorblue);
  font-size: var(--s5);
  font-style: normal;
  font-weight: 700;
  line-height: 69%;
  letter-spacing: 0.04375rem;
  margin-bottom: 1rem;
}
.ch3__p1--title2{
  color: transparent;
  -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: var(--seccolorblue);
    font-family: var(--bodyfont);
    font-size: var(--s5);
    font-style: normal;
    font-weight: 800;
    line-height: 69%;
    letter-spacing: 0.04375rem;
    text-align: right;
}
.ch3__p1--textwrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0rem 1rem;
  margin-bottom: 5rem;
}
.ch3__p1--text{
  color: var(--maincolor);
    text-align: center;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: var(--maincolor);
    font-family: var(--titlefont);
    font-size: var(--s2);
    font-style: normal;
    font-weight: 600;
    line-height: 132%;
    letter-spacing: 0.01563rem;
    width: 90vw;
}
.ch3__p1--textunderline1{
  padding-bottom: 0.3rem;
  background-image: url("./../assets/img/ch3p1bg1.svg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
}
.ch3__p1--textunderline2{
  padding-bottom: 0.3rem;
  background-image: url("./../assets/img/ch3p1bg3.svg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
}



.ch3__p2{
  background-color: var(--seccolorblue);
  border: solid var(--bordersize) #4E87B3;
}

.ch3__p2--text{
  color: var(--mainbgcolor);
    font-size: var(--s1);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.ch3__p2--textwrapper{
  padding: 3rem 1rem;
  border: solid var(--bordersize) #4E87B3;
  border-top: none;
}
.ch3__p2--year{
  width: 67vw;
}
.ch3__p2--img{
  padding: 4rem 0rem;
  border: solid var(--bordersize) #4E87B3;
  border-top: none;
  border-bottom: none;
  width: 100vw;
}

.ch3__p3{
  border: solid var(--bordersize) var(--bordercolor);
  border-top: none;
  padding: 4rem 1rem;
}
.ch3__p3--text{
  color: var(--maincolor);
  font-size: var(--s1);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.ch3__p4{
  padding: 4rem 1rem;
  border-left: solid var(--bordersize) var(--bordercolor);
  border-right: solid var(--bordersize) var(--bordercolor);
  margin-bottom: 7rem;
}
.ch3__p4--title{
  color: var(--seccolorblue);
  font-family: var(--titlefont);
  font-size: var(--s3);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 2rem;
}
.ch3__p4--text{
  color: var(--maincolor);
  font-size: var(--s1);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.seats{
  width: 100vw;
  overflow: hidden;
}
.seats__wrapper{
  width: 100vw;
  overflow: hidden;
}
.ch3__p5{
  padding: 4rem 1rem;
  border: solid var(--bordersize) var(--bordercolor);
  border-top: none;
}
.ch3__p5--text{
  color: var(--maincolor);
    font-size: var(--s1);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.ch3__p6{
  padding: 4rem 0rem;
}
.ch3__p6--titlewrapperwrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2.5rem;
  padding: 2rem 00rem;
}
.ch3__p6--titlewrapper{
  background-image: url("./../assets/img/ch3p6bg.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 92% 95%;
  padding: 0rem 2rem;
  padding-bottom: 1rem;
  width: 20rem;
}
.ch3__p6--title1{
  color: transparent;
-webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--seccolorblue);
  font-size: var(--s3);
  font-style: normal;
  font-weight: 800;
  line-height: 69%;
  letter-spacing: 0.025rem;
  margin-bottom: 1rem;
}
.ch3__p6--title2{
  color: var(--seccolorblue);
  font-size: var(--s5);
  font-style: normal;
  font-weight: 600;
  line-height: 69%;
  letter-spacing: 0.04375rem;
  text-align: right;
}
.ch3__p6--title2wrapper{ 
  display: flex; 
  gap: 1rem;
  justify-content: flex-end;
  padding-right: 2rem;
}
.ticketbutton__wrapper{
  display: flex;
  justify-content: center;
}

.ch3__p6--text{
  color: var(--maincolor);
    font-size: var(--s1);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 0rem 1rem;
    margin-bottom: 1rem;
}
.ch3__p6--text2{
  margin-bottom: 5rem;
}
.nextprev__story--wrapper{
  display: flex;
  justify-content: space-between;
  padding: 0rem 1rem;
  margin-bottom: 4rem;
}
.nextprev__story{
  color: var(--maincolor);
    font-size: var(--s1);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
footer {
  background: var(--seccolorblue);
  padding: 3rem 1rem;
}
.footer__logo--wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 4rem;
}
.footer__logo{
  width: 4rem;
}
.footer__name{
color: var(--mainbgcolor);
  text-align: center;
  font-size: var(--s2);
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0.15625rem;
  padding-bottom: .5rem;
  background-image: url("./../assets/img/footerunderline.svg");
  background-repeat: no-repeat;
  background-position: 50% 100%;
}
.footer__socialmedia--wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}










@media screen and (min-width: 768px){
  .quiz__animation1 {
      width: 60vw;
  
    }
 
    .quiz__animation2 {
      width: 60vw;
    }
  .quiz__animation3 {
      height: 65vh;
    }
  .header__wrapper {
      grid-template-columns: repeat(2, 50%);
      grid-template-rows: 20% 60% 20%;
      overflow: hidden;
      width: 100vw;
      height: 70vh;
    }
  
    .header__title {
      grid-column: 1;
      grid-row: 1 / 3;
      font-family: var(--titlefont);
      font-size: 100px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .header__title--one {
      margin-left: -3rem;
      margin-bottom: -1rem;
    }
    
    .header__title--two {
      margin-bottom: -1rem;
      margin-left: 4rem;
    }
  
    .textcircle__wrapper {
      width: 50vw;
    }
  
.header__side--wrapper {
  grid-column: 2;
  grid-row: 1;
}

.header__side {
  transform: rotate(0deg);
  cursor: default;
}

.header__empty {
  grid-column: 1;
  grid-row: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile__hidden{
  visibility: visible;
  height: fit-content;
  width: fit-content;
}
.mobile__hidden1{
    font-weight: 400;
    color: var(--seccolorblue);
    letter-spacing: 0.19125rem;
}
.header__image {
  width: 380px;
}

.header__image--wrapper {
  width: 50vw;
  display: flex;
  align-items: center;
  grid-row: 2 / 4;
  grid-column: 2;
  padding: 2rem;
  padding-right: 0;
  border-top: solid var(--bordersize) var(--bordercolor);
  border-left: solid var(--bordersize) var(--bordercolor);
}
.chapterone__title{
  font-size: 60px;
  background-size: 10rem auto;
  background-position: 0% 0%;
  padding-left: 4rem;
}
.chapterone__title--bg{
  background-size: 8rem auto;
}
.chapterone__image{
  width: 400px;
}






.ch1__image1--wrapper {
  grid-column: 2 / 3;
  height: 20vh;
}


.textstar__wrapper {
  grid-column: 1 / 3;
  grid-row: 2;

}


.textstar {
  transform: translate(-50%, -50%);
  position: relative;
  top: 87%;
  left: 55%;
  animation: rotation 11s infinite linear;
  width: 6rem;
}

.ch1__p1--year {
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--seccoloryel);
  font-family: var(--bodyfont);
  font-size: var(--s4);
  font-weight: 800;
  letter-spacing: 0.21875rem;
  margin-left: 1rem;
}



.ch1__p1--text {
  padding: 0rem 1.2rem;
  color: var(--maincolor);
  font-family: var(--bodyfont);
  font-size: var(--s1);
  font-weight: 400;
  line-height: normal;
}

.ch1__image2--wrapper {
  grid-column: 1 / 2;
  grid-row: 3;
  width: 95vw;
  height: 14vh;
  border: solid var(--bordersize) var(--bordercolor);
  border-bottom: solid var(--bordercolor);
  border-right: none
  ;
}

.ch1__image2 {
  height: 100%;
}

.ch1__empty2 {
  grid-column: 3;
  grid-row: 3;
  width: 5vw;
  height: 14vh;
  border-bottom: solid var(--bordercolor);
  border-left: none;
}
.chapterone__empty2{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("./../assets/img/ch1bg.svg");
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.mobile__hidden2{
  color: var(--maincolor);
    text-align: center;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.chapter1__part1--wrapper {
  grid-template-columns: 10% 50% 40%;
  grid-template-rows: 20% 60% 20%;
  overflow: hidden;
  padding-bottom: 0rem;
  width: 100vw;
  

}
.ch1__empty1{
  grid-column: 1;
  grid-row: 1;
  width: 10vw;
  height: 20vh;
  border-top: solid var(--bordersize) var(--bordercolor);
}
.ch1__img1--wrapper{
  grid-column: 2 / 4;
  grid-row: 1;
  width: 90vw;
  height: 20vw;
}
.ch1__p1--wrapper{
  grid-column: 1 / 2;
  grid-row: 2;
  width: 60vw;
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.ch1__p1--text{
  width: 28rem;
  padding-left: 2rem;
}
.ch1__p1--textwrapper {
padding-right: 1rem;
margin-top: 5rem;
}

.mobile__hidden3{
  grid-row: 3;
  grid-column: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60vw;
  height: 20vh;
  border: solid var(--bordersize) var(--bordercolor);
  border-right: 0;
  font-weight: 600;
  color: var(--seccolorblue);
  letter-spacing: 1rem;
  font-size: 35px; 
}
.mobile__hidden16--wrapper{
  border-left: solid var(--bordersize) var(--bordercolor);
  border-bottom: solid var(--bordersize) var(--bordercolor);
  grid-row: 2 / 4;
  grid-column: 3;
  width: 40vw;
  height: 80vh;
  display: flex;justify-content: flex-end;
}
.mobile__hidden16{
  width: 10rem;
}
.mobile__hidden4{
  font-weight: 600;
    color: var(--seccolorblue);
    letter-spacing: 1rem;
    font-size: 35px; 
}
.tablet__hidden{
  visibility: hidden;
  width: 0;
  height: 0;
}


.mobile__hidden4--inner{
  transform-origin: center;
    transform: rotate(-90deg);
    z-index: -1;
    cursor: vertical-text;
}


.ch1__p2--wrapper{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.ch1__p2--contentwrapper{
  width: 30rem;
  padding: 3rem;
  border-left: solid var(--bordersize) var(--bordercolor);
  
}

.chapter1__part2--wrapper{
  margin: 0;
}

.ch1__p5 {
  margin: 5rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid var(--bordersize) var(--bordercolor);
  padding: 0;
}
.ch1__p5--title{
  padding-right: 4rem;
  padding-top: 2rem;
}
.ch1__p5--text{
  border-left: solid var(--bordersize) var(--bordercolor);
  padding: 3rem 0rem;
  width: 25rem;
  padding-left: 4rem;
}

.ch1__p6--deco11{
  font-size: 22px;
  width: 25rem;
}
.ch1__p6--deco12{
  font-size: 22px;
  width: 25rem;
}
.ch1__p6--deco21{
  font-size: 22px;
  width: 20rem;
}
.ch1__p6--deco2wrapper{
  margin-bottom: 0;
}
.ch1__p6--deco22{
  font-size: 22px;
  width: 20rem;
}
.ch1__p4--text{
  margin-bottom: 0;
  padding-bottom: 4rem;
}
.ch1__p4--textwrapper{
  width: 30rem;
  padding-top: 3rem;
  padding-right: 3rem;
  border-right: solid var(--bordersize) var(--bordercolor);
  padding-left: 2rem;
}
.ch1__p4--animationwrapper{
  border-left: none;
}
.ch1__p4{
  margin-bottom: 0;
}
.ch1__p7--wrapper{
  padding: 4rem 2rem;
  padding-right: 1rem;
  width: 30rem;
  margin-bottom: 0;
  border-left: solid var(--bordersize) var(--bordercolor);
}
.ch1__p7{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  border-bottom: solid var(--bordersize) var(--bordercolor);
}
.ch1__p7--image{
  border: none;
}

.ch1__p7--text2{
  padding: 6rem 5rem;
  margin: 0rem 3rem;
  border-top: none;
  border-bottom: none;
  border-left: solid var(--bordersize) var(--bordercolor);
}
.ch1__p7--text2wrapper{
  border: solid var(--bordersize) var(--bordercolor);
  display: flex;
  justify-content: center;
  align-items: center;
}
.mobile__hidden5--inner{
  transform-origin: center;
  transform: rotate(-90deg);
  z-index: -1;
  cursor: vertical-text;
  width: max-content;
}
.mobile__hidden5{
  display: flex;
  justify-content: center;
  align-items: center;
    border-left: solid var(--bordersize) var(--bordercolor);
    font-weight: 600;
    color: var(--seccolorblue);
    font-size: 30px;
    letter-spacing: 0.3rem;
}
.quiz__title{
  padding: 0rem 10rem;
}
.quiz__text{
  padding: 0rem 10rem;
}

.ch1__p9--text {
  margin: 0;
  padding: 7rem 0rem;
  padding-right: 2rem;
  width: 24rem;
  border-right: solid var(--bordersize) var(--bordercolor);

}
.ch1__p9--title {
  width: fit-content;
  padding-left: 2rem;
  background-position: 100% 100%;
}

.ch1__p9--contentwrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: solid var(--bordersize) var(--bordercolor);
}

.mobile__hidden6 {
  display: flex;
  align-items: center;
  justify-content: center;

  width: max-content;
  
}


.mobile__hidden7 {
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: solid var(--bordersize) var(--bordercolor);
  padding: 13rem 6rem;

}

.mobile__hidden7--inner {
    transform-origin: center;
      transform: rotate(-90deg);
      z-index: -1;
      cursor: vertical-text;
    width: max-content;
    font-weight: 600;
    color: var(--seccoloryel);
    font-size: 30px;
    letter-spacing: 0.3rem;
}
.mobile__hidden6--inner {
  border-left: solid var(--bordersize) var(--bordercolor);
    font-weight: 600;
    color: var(--seccoloryel);
    font-size: 30px;
    letter-spacing: 0.3rem;
      transform-origin: center;
        transform: rotate(-90deg);
        z-index: -1;
        cursor: vertical-text;
}
.ch2__title{
  font-size: 60px;
}
.ch2__p1--wrapper{
  padding: 0;
}
.ch2__p1--contentwrapper{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;

}
.ch2__p1--text{
  width: 30rem;
  padding: 3rem;
  padding-top: 8rem;
  padding-bottom: 5rem;
  border-right: solid var(--bordersize) var(--bordercolor);
}

.mobile__hidden8--inner{
  width: 60%;
}
.ch2__p2{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: solid var(--bordersize) var(--bordercolor);
}
.ch2__p2--wrapper{
  border: none;
  border-right: solid var(--bordersize) var(--bordercolor);
  padding: 5rem 0rem;
  padding-left: 0;
  padding-right: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ch2__p2--text{
  width: 25rem;
}
.mobile__hidden9{
display: flex;
  align-items: center;
  justify-content: center;
}
.mobile__hidden9--inner{
  border-left: solid var(--bordersize) var(--bordercolor);
    font-weight: 600;
    color: var(--seccoloryel);
    font-size: 30px;
    letter-spacing: 0.3rem;
    transform-origin: center;
    transform: rotate(-90deg);
    z-index: -1;
    cursor: vertical-text;
}

.ch2__p3--imgbg1{
  visibility: hidden;
  height: 0;
  width: 0;
}


.mobile__hidden10{
  width: 20%;
}
.mobile__hidden11{
  width: 20%;
}
.mobile__hidden12{
  width: 20%;
}

.ch2__p3--wrapper{
  padding: 3rem 0rem;
  border-bottom: solid var(--bordersize) var(--bordercolor);
}
.ch2__p3--wrapperresp{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}


.ch2__p3--text2{
  margin-right: 3rem;
}
.ch2__p3--text{
  width: 25rem;
}
.ch2__p3--img1{
  padding-left: 3rem;
  margin-bottom: -2rem;
}
.ch2__p3--text1{
  padding-left: 3rem;
}
.ch1__p6--title {
  font-size: var(--s3);
}
.ch2__p3--img3{
  margin-left: 3rem;
  margin-bottom: -2rem;
}
.ch2__p3--text3{
  padding-left: 3rem;
}

.railgame__title{
  margin-top: 4rem;
}
.railgame__subtext{
  font-size: 25px;
  padding: 0rem 3rem;
}
.ch3__title{
  font-size: 80px;
  background-size: 23rem auto;
  background-position: 0% 0%;
}.ch3__title--wrapper{
  padding-bottom: 2rem;
  display: flex;
    justify-content: center;
    align-items: flex-end;
}

.ch3__p1--title1{
  font-size: 100px;
}
.ch3__p1--title2{
  font-size: 100px;
}
.ch3__p1--titlewrapper{
  width: 32rem;
}
.ch3__p1--text{
  font-size: 30px;
  padding: 0rem 4rem;
}

.ch3__p2--text{
  font-size: 20px;
  font-weight: 500;
  width: 25rem;
  padding: 0rem 2rem;
}
.ch3__p2--textwrapper{
  border: none;
  border-left: solid var(--bordersize) #4E87B3;
}
.ch3__p2--contentwrapper{
  border-top: solid var(--bordersize) #4E87B3;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
}
.ch3__p2--year{
  margin-bottom: 2rem;
  width: 35rem;
}
.ch3__p2--img{
  width: 50vw; 
  border: none; 
  background-size: contain;
}
.section__wrapper{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: solid var(--bordersize) var(--bordercolor);
  margin-bottom: 6rem;
}
.ch3__p3{
  padding: 0;
  border: none;
  border-right: solid var(--bordersize) var(--bordercolor);
  padding: 3rem 2rem;
  max-width: 25rem;
}
.ch3__p4--text{
  width: 23rem;
}
.ch3__p4{
  padding: 0rem 2rem;
  margin: 0;
  border: none;
}
.mobile__hidden13{
  color: var(--seccolorblue);
    font-family: var(--titlefont);
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 2rem;
}
.ch3__p5{
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid var(--bordersize) var(--bordercolor);
}
.ch3__p5--text{
  width: 29rem;
  padding: 0rem 1rem;
}
.mobile__hidden14{
  width: 9rem;

}
.mobile__hidden15{
    width: 9rem;
}
.ch3__p6--title1{
  font-size: 60px;
}
.ch3__p6--title2{
  font-size: 100px;
    width: 60rem;
}
.ch3__p6--titlewrapper{
  width: 30rem;
  background-position: 98% 95%;
}
.ch3__p6--title2wrapper{
  gap: 0;
}
.ch3__p6--plus{
  width: 12rem;
  margin-left: 1rem;
}
.ch3__p6--text{
  width: 25rem;
}
.ch3 {
  display: grid;
  grid-template-columns: 40% 50% 10%;
  grid-template-rows: 35% 65%;
  margin-bottom: 6rem;
}
.ch3__p6--textwrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nextprev__story--wrapper{
  padding: 0rem 3rem;
}
.footer__logo--wrapper{
  margin-bottom: 5rem;
}
.footer__name{
  font-size: 40px;
  background-size: contain;
}
.footer__logo{
  width: 5rem;
}
.footer__socialmedia{
  width: 3rem;
}
.footer__socialmedia--wrapper{
  gap: 8rem;
}

.line__date{
  font-size: 25px;
}
.line__distance{
  font-size: 30px;
}
.line__location{
  font-size: 25px;
}
.ch1__p4--wrapper{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.ch1__p4--sidewrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-left: solid var(--bordersize) var(--bordercolor);
  border-right: solid var(--bordersize) var(--bordercolor);
  padding:10rem 2rem;
}
.ch1__p4--side{
  transform-origin: center;
    transform: rotate(-90deg);
    z-index: -1;
    cursor: vertical-text;
    font-weight: 400;
    color: var(--seccolorblue);
    letter-spacing: 0.5125rem;
    font-size: 30px;
}
.ch1__p4--textwrapper{
  border: none;
}

.ch1__p6--deco2wrapper{
  margin-top: 8rem;
}
.header__image--wrapper{
  border-left: none;
}
.header__empty{
  border-right: solid var(--bordersize) var(--bordercolor);
}
.ch1__p7--image {
   width: 60vw;
}
.ch2__title--underline{
  background-size: contain;
}


}












@media screen and (min-width: 1024px) {
  .ch3__p1{
    margin-top: 15rem;
  }
  .logo__img{
    width: 8rem;
  }
  .logo__img--four, .logo__img--two{
    width: 10rem;
  }




  .nav__link:hover{
    color: var(--seccolorblue);
  }
  .mobile__hidden1{
    font-size: 23px;
  }
  .language__wrapper:hover{
    background-color: var(--seccolorblue);
    border: none;
    cursor: pointer;
  }
  .nav__wrapper {
    margin-left: 5em;
    display: flex;
    position: static;
    width: auto;
    background: none;
    border: none;
    align-items: center;
  }
  .quiz__button--style2:hover{
    cursor: pointer;
      background-color: var(--mainbgcolor);
      color: var(--seccoloryel);
      border: solid 2px var(--seccoloryel);
  }
  .quiz__button--style:hover{
    cursor: pointer;
    background-color: var(--mainbgcolor);
    color: var(--seccolorblue);
    border: solid 2px var(--seccolorblue);
  }
  .tunnel__button:hover{
    cursor: pointer;
    transform: scale(1.2);
  }
  .railgame__rail:hover{
    cursor: pointer;
  }
  .railway__end--button:hover{
    cursor:default;
    border: none;
  }
  .railway__end--button1:hover{
    cursor: pointer;
    border: solid 2px var(--seccolorblue);
  }
  nav{
    width: 100vw;
    overflow: hidden;
  }
  .nav__wrapper--buttons {
    display: flex;
    align-items: center;
    padding: 1rem;
  }
  .nav__wrapper{
    margin-left: 1rem;
    padding: 0rem;
  }
  .nav__link {
    display: inline-block;
    padding: 15px 20px;
    margin-right: 5rem;
    margin-bottom: 0;
    font-size: 16px;
    width: max-content;
    margin-right: 1rem;
  }

  .nav__socialmedia {
    display: none;
  }

  .hamburger {
    display: none;
  }

.header__title {
 
  font-size: 120px;

}
.header__image {
  width: 450px;
}
.intro{
  padding: 0rem 10rem;
  font-size: 40px;
}

.introbg__before1{
  background-size: contain;;
}
.introbg__before2{
  background-size: 4rem;
  background-position: 60% 35%;
}
.introbg__before3{
  background-size: contain;
}
.introbg__before4{
  background-size: 1rem;
  background-position: 100% 50%;
  padding-right: 1.5rem
}
.introbg__before5{
  background-size: .5rem;
  padding-right: .8rem;
}
.language__wrapper{
    width: 5.5rem;
      padding: 0.5rem .5rem;
      font-size: 18px;
}
.header__side{
  font-size: 23px;
}

.header__subtext{
  font-size: 25px;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
.headerarrow{
  width: 3.5rem;
}
.nav__link{
  letter-spacing: 0.05rem;
}

.mobile__hidden2{
  font-size: 40px;
}
.line__distance{
  margin-bottom: -7rem;
}
.line__date{
  margin-bottom: 8rem;
}
.ch1__p5--text{
padding-left: 8rem;
}
.ch1__p5{
  justify-content: space-evenly;
}
.ch1__p7--wrapper{
  padding: 11rem 2rem;
}
.chapterone__image{
  width: 35rem;
}
.ch1__image1{
  width: 30rem;
}
.mobile__hidden3--inner{
  font-size: 30px;
}
.mobile__hidden4--inner{
  font-size: 30px;
}

.ch1__p2--contentwrapper{
  padding: 4rem 4.5rem;
}
.ch1__p3--contentwrapper{
  padding: 4rem;
}












}
@media screen and (min-width: 1220px) {

.ch1__p1--year{
  margin: 0;
}
.ch1__p1--text{
  padding: 0;
}
.ch1__p2--contentwrapper{
  padding-right: 0;
  width: 32rem;
}
.ch1__p4--sidewrapper{
  padding: 12rem 2rem;
}

.ch1__p5--text{
  width: 30rem;
}
.ch1__p4--textmonster{
  font-size: 35px;
}

.header__image{
  width: 600px;
}
.header__title{
  font-size: 140px;
}
.railgame__title {
  background-size: 12rem auto;
}
.intro {
  padding: 0rem 17rem;
  font-size: 50px;
}


.ch2__p1--text{
  padding-left: 0;
}

.introbg__before2 {
  background-size: 5rem;
  background-position: 60% 20%;
}
.ch1__p7--text2{
  width: 43rem;
}
.mobile__hidden5--inner{
  font-size: 30px;
}
.mobile__hidden5{
  border: none;
}
.quiz__title{
  font-size: 40px;
}
.quiz__text{
  font-size: 25px;
}
.ch2__p3--wrapper1{
  padding-left: 5rem;
}
.ch2__p3--wrapper3{
  padding-left: 5rem;
}
.ch2__p3--img3{
  padding-left: 0;
  margin-bottom: -8.5rem;
}
.ch2__p3--img1{
  margin-bottom: -8.5rem;
}
.ch2__p3--text{
  width: 35rem;
}
.railgame__title{
  font-size: 60px;
}
.railgame__subtext{
  font-size: 40px;
}


.ch3__p1{
  margin-top: 20rem;
}
.ch3__title{
  margin-top: -12rem;
}

.mobile__hidden13{
  font-size: var(--s3);
}
.ch3__p4{
  border-left: solid var(--bordersize) var(--bordercolor);
  padding-left: 15rem;
  padding: 4rem 9rem;
}
.ch3__p3{
  border: none;
  padding-right: 1rem;
}
.ch3__p2--textwrapper{
  padding:  6rem 8rem;
}

.section__wrapper{
  justify-content: space-around;
}
.ch1__p7--title1, .ch1__p7--text, .ch1__p9--text, .ch1__p1--text, .ch1__p2--text, .railgame__text, .ch1__p2--text, .ch1__p4--text, .ch1__p1--text, .ch1__p5--text, .ch2__p1--text, .ch2__p2--text, .ch2__p3--text, .ch3__p2--text, .ch3__p3--text, .ch3__p4--text, .ch3__p5--text, .ch3__p6--text {
  font-size: 23px;
}
.ch1__p7--title2, .ch2__p7--title3{
  font-size: 50px;
}
.ch3__p5{
  padding: 4rem 0rem;
}

.ch2__p3--img1, .ch2__p3--img3{
  margin-bottom: -5rem;
}






}
@media screen and (min-width: 1700px) {
.header__image{
  width: 800px;
}
.header__title{
  font-size: 180px;
}
.header__side{
  font-size: 30px;
}
.mobile__hidden{
  font-size: 30px;
}
.header__subtext{
  font-size: 30px;
}
.nav__link{
  font-size: 20px;
}
.mobile__hidden2{
  font-size: 45px;
}
}