@import url("reset.css");

:root{
  --titlefont: span-condensed, serif;
  --bodyfont: "articulat-cf", sans-serif;

  --s1: 18px;
  --s2: 25px;
  --s3: 40px;
  --s4: 70px;
  --bordersize: .5px;

  --mainbgcolor: #F5EFE7;
  --maincolor: #1E1E1E;
  --seccolorblue: #50A0DF;
  --seccoloryel: #FFAC00;
  --bordercolor: #B0B0B0;
}

html {
  box-sizing: border-box;

}
*,
*::before,
*::after {
  box-sizing: inherit;
}

nav{
  padding: .5rem 1rem;
  background-color: var(--mainbgcolor);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
body{
  background-color: var(--mainbgcolor);
  color: var(--maincolor);
  font-family: var(--bodyfont);
}

.nav__logo{
  width: 60px;
}



.header__wrapper{
  display: grid;
  grid-template-columns: 13% 61% 26%;
  grid-template-rows: repeat(2,50%);
  overflow: hidden;
}

.header__title{
  grid-column: 1 / 3;
  grid-row: 1;
  font-family: var(--titlefont);
  font-size: var(--s4);
  border-top: solid var(--bordersize) var(--bordercolor);
  border-right: solid var(--bordersize) var(--bordercolor);
  padding: 0rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header__title--one{
  margin-left: 1rem;
}
.header__title--two{
  margin-left: 3rem;
}
.textcircle__wrapper{
  grid-column: 1;
  grid-row: 1;
  width: 74vw;
  animation: rotation 11s infinite linear;
  transform-origin: 100% 100%;
  z-index: -1;
}
.textcircle{
  width: 6rem;
  position: relative;
  left: 100%;
  top: 100%;
  transform: translate(-50%, -50%);
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


.header__side--wrapper{
  grid-column: 3;
  grid-row: 1;
  border-top: solid var(--bordersize) var(--bordercolor);
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__side{
  transform-origin: center;
  transform: rotate(-90deg);
  z-index: -1;
  cursor: vertical-text;
  font-weight: 400;
  color: var(--seccolorblue);
  letter-spacing: 0.19125rem;
  
}
.header__empty{
  grid-column: 1;
  grid-row: 2;
  border-top: solid var(--bordersize) var(--bordercolor);
}
.header__image{
  /* max-width: 24rem; */
  width: 300px;
  z-index: -1;
  position: relative;
  transform: translateX(-100%);
  left: 100%;
}
.header__image--wrapper{
  width: 87vw;
  grid-column: 2 / 3;
  padding: 2rem;
  padding-right: 0;
  grid-row: 2;
  border-top: solid var(--bordersize) var(--bordercolor);
  border-left: solid var(--bordersize) var(--bordercolor);
}

.header__subtext{
  text-align: center;
  border: solid var(--bordersize) var(--bordercolor);
  padding: 2rem 2rem;
  font-size: 18px;
  line-height: 129%;
}
.headerarrow{
  position: relative;
  transform: translate(-50%, -50%);
  left: 50%;
}


.nav__socialmedia{
  display: flex;
  justify-content: space-around;
  margin: 3rem 0;
}

.language__wrapper{
  width: 10rem;
  padding: 1rem 2rem;
  color: white;
  background-color: var(--maincolor);
  font-size: 20px;
  display: flex;
  border-radius: 6px;
}

.language__selector--wrapper{
  display: flex;
  justify-content: center;
}

.line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 8px;
  background-color: var(--seccolorblue);
  border-radius: 25px;
}

.nav__wrapper {
  position: absolute;
  padding: 1rem 1rem;
  padding-top: 2.5rem;
  top: 72.92px;
  left: 0%;
  width: 100%;
  background-color: var(--mainbgcolor);
  display: none;
  border: solid var(--bordersize) var(--bordercolor);
  border-bottom: solid 2px var(--bordercolor);
}
.nav__link{
  color: var(--maincolor);
  font-weight: 400;
  display: block;
  text-align: center;
  font-size: 18px;
  padding: 10px 0;
  text-decoration: none;
  margin-bottom: 1.2rem;
  text-transform: uppercase;
}
.nav__socialmedia--item{
  width: 3rem;
}

.expanded {
  display: flex;
  flex-direction: column;
}







.intro{
  font-family: var(--titlefont);
  text-align: center;
  font-size: var(--s2);
  font-style: normal;
  font-weight: 600;
  line-height: 132%;
  letter-spacing: 0.01563rem;
  padding: 0rem 2.5rem;
  margin: 1rem 0rem;
  margin-bottom: 4rem;
}

.introbg__before1{
  background-image: url('./../public/assets/img/introbg1.svg');
  background-repeat: no-repeat;
  background-position: 0% 100%;
  padding-bottom: 0.2rem;
}

.introbg__before2{
  padding-top: 3rem;
  background-image: url('./../public/assets/img/introbg2.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.introbg__before3{
  background-image: url('./../public/assets/img/introbg3.svg');
  background-repeat: no-repeat;
  background-position: 0% 100%;
  padding-bottom: 0.2rem;
}

.introbg__before4{
  background-image: url('./../public/assets/img/introbg4.svg');
  background-repeat: no-repeat;
  padding-right: .7rem;
  background-position: 100% 55%;
}

.introbg__before5{
  background-image: url('./../public/assets/img/introbg5.svg');
  background-repeat: no-repeat;
  background-position: 100% 80%;
  padding-right: 0.5rem;
}


.chapterone__wrapper{
  display: grid;
  grid-template-columns: 39% 53% 8%;
  grid-template-rows: 45% 55%;
  overflow: hidden;
}
.chapterone__title--wrapper{
  grid-column: 1 / 3;
  grid-row: 1;
  display: flex;
  justify-content: center;
  border: solid var(--bordersize) var(--bordercolor);
}
.chapterone__title--bg{
  background-image: url("./../public/assets/img/chapter1bg.svg");
  background-repeat: no-repeat;
  background-position: 0% 100%;
}
.chapterone__title{
  color: #1E1E1E;
  font-family: var(--titlefont);
  font-size: var(--s3);
  font-weight: 600;
  padding: 6rem 1rem;
  background-image: url("./../public/assets/img/chapter1.svg");
  background-repeat: no-repeat;
  background-position: 0% 0%;
}
.chapterone__empty{
  grid-column: 3;
  grid-row: 1;
  border: solid var(--bordersize) var(--bordercolor);
  border-left: none ;
}
.chapterone__empty2{
  grid-column: 1;
  grid-row: 2;
  width: 39vw;
  border-bottom: solid var(--bordersize) var(--bordercolor);
  border-right: solid var(--bordersize) var(--bordercolor);
}
.chapterone__image--wrapper{
  grid-column: 2 / 3;
  grid-row: 2;
  display: flex;
  align-items: center;
  width: 61vw;
  border-right: solid var(--bordersize) var(--bordercolor);
  border-bottom: solid var(--bordersize) var(--bordercolor);
}
.chapterone__image{
  position: relative;
  transform: translateX(-100%);
  left: 100%;
}




@media screen and (min-width: 920px) {

  .nav__wrapper {
    margin-left: 5em;
    display: flex;
    position: static;
    width: auto;
    background: none;
    border: none;
    align-items: center;
  }
 .nav__wrapper--buttons {
   display: flex;
   align-items: center;
   padding: 1rem;
 }
  .nav__link {
    display: inline-block;
    padding: 15px 20px;
    margin-right: 5rem;
    margin-bottom: 0;
  }
  .nav__socialmedia{
    display: none;
  }
  .hamburger {
      display: none;
  }
}